@import "common/foundation/variables";

.d-header {
  &.hide-menus {
    .headerLink:not(.keep) {
      display: none;
    }
  }
}

.custom-header-links {
  display: inline-flex;
  align-items: center;
  margin: 0;
  .headerLink {
    list-style: none;
    a {
      padding: 6px 10px;
      color: $header_primary;
      font-size: $font-up-1;
    }
  }
}

.desktop-view .vmo,
.mobile-view .vdo {
  display: none !important;
}
